@charset "UTF-8";
body {
  font-family: "Delicious Handrawn", cursive;
  margin: 0;
  height: 100vh;
  background-image: url("/images/bg.png");
  background-size: cover;
  animation: slidein 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    background-position: top;
  }
  to {
    background-position: -100px 0px;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .btns {
  width: 100%;
  height: 3rem;
  background-color: #ff5cce;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #000000;
}
.container .btns a {
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0 0 5px #bd0787;
}
.container .bg {
  width: 100vw;
  position: absolute;
  top: 3rem;
  z-index: 1;
}
.container .barbie {
  margin-top: 5%;
  width: 45%;
  z-index: 2;
}
.container .cumple {
  width: 90%;
  font-family: "Barbie", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  z-index: 2;
  text-align: center;
  color: #ec028f;
  margin:5%;
  text-shadow: 2px 2px 2px #ffffff,2px -2px 2px #ffffff,-2px 2px 2px #ffffff,-2px -2px 2px #ffffff;
 }
.container .numero {
  color: #ec028f;
  font-size: 5rem;
  margin-top: -30px;
}
.container .personajes {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  z-index: 6;
}
.container .personajes img {
  width: 55%;
}
.container .pinceles {
  width: 15%;
  display: flex;
  flex-direction: column;
  z-index: 7;
}
.container .pinceles .pincel {
  width: 100%;
}
.container .modalInvitacion {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 35%;
  z-index: 3;
  opacity: 0.8;
}
.container .modalInvitacion p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}
.container .modalContador {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 35%;
  z-index: 3;
  opacity: 0.8;
}
.container .star {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 25%;
  z-index: 4;
}
.container .faltan {
  text-align: center;
  font-size: 2em;
}
.container .contador {
  background-color: #e4497f;
  position: absolute;
  width: 100%;
  top: 45%;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .divBanner {
  position: fixed;
  background-color: white;
  width: 100vw;
  bottom: 10px;
  display: flex;
  justify-content: flex-start;
  z-index: 5;
}
.container .divBanner img {
  width: 60%;
}

.hidden {
  display: none;
}

th {
  padding: 10px;
}

td {
  text-align: center;
}

/* Animación */
.logo {
  animation: logo 2s ease 0s infinite normal forwards;
}

@keyframes logo {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.anim {
  animation: personajes 4s ease 0s infinite normal forwards;
}

@keyframes personajes {
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-20px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.bounce-out-top {
  animation: bounce-out-top 1.5s both infinite;
}

@keyframes bounce-out-top {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-38px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  52% {
    transform: translateY(-105px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@media (min-width: 500px) {
  .container .supermario {
    margin-top: 5%;
    width: 30%;
  }
  .container .cumple {
    font-size: 8rem;
    font-weight: 900;
    z-index: 2;
    text-align: center;
    color: #ffbf00;
    text-shadow: 0 0 10px #1c1a1a;
  }
  .container .personajes {
    width: 30%;
  }
  .divBanner img {
    height: 80px;
  }
}/*# sourceMappingURL=style.css.map */